@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>

    <h4>Welcome! Please visiit all of our pages. We would love to have you add movies to our database!</h4>
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>
