@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Movie
<div class="container">
    <h1>Enter a new movie!</h1>

    <form method="post">


        <label asp-for="title">Title</label>
        <input class="form-control" asp-for="title" />
        <br />
        <label asp-for="rating">Rating</label>
        <select class="form-control" asp-for="rating">
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
        </select>
        <br />

        <label asp-for="title">Category</label>
        <input class="form-control" asp-for="title" />
        <br />

        <label asp-for="year">Title</label>
        <input class="form-control" type="number" asp-for="year" />
        <br />

        <label asp-for="director">Director</label>
        <input class="form-control" asp-for="director" />
        <br />

        <label asp-for="edited">Edited</label>
        <input class="form-control" type="checkbox" asp-for="edited" />
        <br />

        <label asp-for="lentTo">Lent To</label>
        <input class="form-control" asp-for="lentTo" />
        <br />

        <label asp-for="notes">Notes</label>
        <input class="form-control" asp-for="title" />
        <br />



        <button class="form-control" type="submit">Add Movie</button>
    </form>
</div>