@{
    ViewData["Title"] = "Podcast";
}
<h1>@ViewData["Title"]</h1>

<h1> Visit this link to watch the greatest movie podcast of all time, ever!</h1>

<a href="https://baconsale.com/" target="_blank">Bacon Sale Podcast</a>